doctype html
html(lang="ko")
    head 
        title #{pageTitle} · #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body    
        header
            nav
                ul
                    li 
                        a(href="/") Home
                    li 
                        a(href="/search") Search
                    if loggedIn
                        li 
                            a(href="/videos/upload") Upload Video
                        li 
                            a(href="/users/profile") #{loggedInUser.username}
                        li 
                            a(href="/users/edit") Edit Profile
                        li
                            a(href="/users/logout") Sign out
                    else
                        li
                            a(href="/login") Sign in
                        li
                            a(href="/signup") Sign up
            h1=pageTitle
        main
            block content
    include partials/footer.pug