extends base.pug

block content 
    p=errorMessage
    form(method="POST")
        input(name="username", placeholder="Username", type="text", required)
        input(name="password", placeholder="Password", type="password", required)
        input(type="submit", value="Sign in")
    
    hr
    div    
        span New to Songle? 
            a(href="/signup") Create an account &rarr;